div.section{
    padding : 0;
    margin : 0;
    height : 100%;
    float : left;
    text-align : center;
    font-weight : bold;
    font-style : italic;
}

div.sectionButtonPanel{ 
    display : flex;
    flex-flow : column wrap
}

.sectionbtn{
    margin  : 10px;
}